{
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": ["^(!app).*$", "^app/", "^[\\.\\./]", "^[\\./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
